<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In Data</title>
</head>
<body>
    <h1>Sign-In Data</h1>
    <table border="1">
        <thead>
             <tr>
            <th>Name</th>
            <th>Device ID</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for sign_in in sign_ins %}
        <tr>
            <td>{{ sign_in.name }}</td>
            <td>{{ sign_in.device_id }}</td>
            <td>{{ sign_in.date }}</td>
            <td>{{ sign_in.time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <a href="{{ url_for('main.home') }}">Home</a>
</body>
</html>
